:root {
    --red: #660000;
    --purple: #990033;
    --darkpurple: #5F021F;
    --lighterred: #8C001A;
    --orange: #FF9000;
    --white: #ffffff;
    --black: #000000;
}

body {
    margin: 0;
}

/* ____________________NAV _______________________________ */

nav {
    background-color: var(--red);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 0;
    margin-left: 100px;
}

.heroSection {
    height: 50vh;
    background-color: var(--darkpurple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsPreview {
    background-color: var(--orange);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    
}

.productsCard {
    background-color: var(--purple);
    border: 2px solid var(--lighterred);
    border-radius: 10px;
    width: 150px;
    height: 300px;
    padding: 20px;

}

#contactSection {
    background-color: var(--darkpurple);    
    padding: 30px;
    display: flex;
    justify-content: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 10px solid var(--orange);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    color: var(--orange);
    font-weight: 500;
}

#contactForm label {
    padding: 20px 0px;
}

#contactForm input, textarea {
    padding: 10px;
    border: 3px solid var(--purple);
    border-radius: 10px;
}


a {
    text-decoration: none;
    cursor: pointer;
    color:var(--white);
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-left: 100px;
}

footer {
    background-color: var(--lighterred);
    display: flex;
    justify-content: start;
    padding: 20px;
}