:root {
    --red: #ff0000;
    --darkred: #9b0000;
    --white: #ffffff;
    --gray: #888888;
    --black: #000000;
}

.figtree {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font: "Nato Sans JP";
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}




/* ____________________NAV _______________________________ */

nav {
    background-color: var(--white);
    border-bottom: 2px solid var(--darkred);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 0;
    margin-left: 100px;
}
.activeNav {
    color: var(--red);
}

nav h1 {
    margin: 0;
}

nav p {
    margin: 0;
    font-size: 20px;
}

/* ____________________Hero_______________________________ */

.heroSection {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(images/coffetables.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ____________________Ad Section _______________________________ */

.adsSection {
    background-color: var(--gray);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adsSection h2 {
    font-size: 50px;
}
.adsSection p {
    font-size: 20px;
}

.adsSection img {
    width: 50%;
}


/* ____________________Products_______________________________ */


.productsPreviewSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}

.productsPreviewCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 40px;
}

.shiftButtons {
    background-color: var(--white);
    margin: 15px;
    padding: 5px 20px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid var(--darkred);
    border-radius: 5px;
    line-height: 20px;
}


.productsCard {
    background-color: var(--white);
    color: var(--darkred);
    border-radius: 10px;
    width: 250px;
    height: 430px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--darkred);
    font-family: "figtree";
}

.productsCard img {
    border-radius: 5px 5px 0px 0px;
}

.infoCard {
    text-align: center;
    height: 150px;
}

.infoCard h3 {
    margin-top: 15px;
    font-weight: 900;
}

.infoCardPlacement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ratingCard {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.ratingCard p {
    margin: 0;
}

.ratingCard h5 {
    margin: 0;
}

.buttonCard {
    display: flex;
}

.buttonCard button {
    width: 100%;
    background-color: var(--red);
    border: none;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    font-weight: 700;
    cursor: pointer;
}



/* ____________________Contact Section _______________________________ */

#contactSection {
    background-color: var(--white);    
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contantForm h1, h3, h4, h5 {
    margin: 0;
    padding: 0;

}

.contactForm {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 4px solid var(--red);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    color: var(--black);
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.contactForm label {
    padding:0px;
}

.contactForm input, textarea {
    padding: 10px;
    border: 3px solid var(--red);
    border-radius: 10px;
}

/* ____________________Terms and Service_______________________________ */

.termsSection {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ____________________Footer _______________________________ */

footer ul {
    list-style-type: none;
    padding: 0;
    margin-left: 100px;
}

footer {
    background-color: var(--red);
    display: flex;
    justify-content: start;
    padding: 20px;
}

@media (max-width: 800px) {
    .shiftButtons {
        padding: 5px 10px;
    }
    .productsPreviewCards {
        padding: 2px;
    }
}

@media (max-width: 380px) {
    .heroSection h1 {
        font-size: 30px;
    }
    .subHeader {
        font-size: 20px;
    }
    .shiftButtons {
        padding: 5px 10px;
        margin: 10px;
    }
    .productsPreviewCards {
        padding: 0px;
    }
    .productsCard {
        width: 200px;
    }
}